/* === global.css === */

/* Reset minimal + font + box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Menlo, monospace;
}

/* Corps de page full height */
html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column; /* header / main / footer */
}
